/*body {
    font-size: 30px;
    use this to change all size
}*/

/** {
    border: 1px solid red;
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Playfair+Display&display=swap');

body {
    background-color: lightblue;
    font-family: Playfair Display, Roboto, sans-serif;
}

#content {
    background-color: white;
}

a {
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

a:hover {
    background-color: darkgrey;
    color: white;
}

nav {
    display:flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
}

img{
    width: 50%;
    /*use % for size of screen, px to change size*/
    display: block;
    margin: 0 auto;
    border: 3px solid lightblue;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 50%;
}

p {
   /*text-align: center;*/
   width: 50%;
   margin: 10px auto;
   padding: 10px;
   box-sizing: border-box;
}

/*always use "." for class*/
.background {

    background-color: #ccc;
}

footer p {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

