a {
  text-decoration: none;
  color: balck;
}


img.logo {
  width: 100px;
  height: auto;
}

.drink-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drink-item {
  text-align: center;
}

.drink-item img {
  max-width: 100%;
  height: auto;
}

.drink-picture-text {
  margin: 10px;
}

