/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Libre+Franklin:ital,wght@1,100&family=Montserrat+Alternates:ital@1&family=Playfair+Display&family=Ubuntu:ital@1&display=swap'); 
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #A6826A   ;
  --secondary-color: #B96D40 ;
  --accent1-color: #FFCF9C;
  --accent2-color: #A4D4B4;
  


  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #A6826A;  /* headlines on a white background */ 
  --headline-color-on-color: #A4D4B4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #B96D40; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #A4D4B4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #A6826A;
  --nav-link-color: #000000;
  --nav-background-color: #A6826A;
  --nav-hover-link-color: #000000;
  --nav-hover-background-color: #FFCF9C;
}



body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat Alternates", "Times New Roman", "Brush Script MT";


}

.cat-logo {
  width: 40%;
  height: 40%;
}

img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  background-color: #A6826A;
  padding: 10px 0;
  color: #B96D40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: rgba(164, 212, 180, 0.5);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}

.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}


footer {
  background-color: #A6826A;
  color: white;
  padding: 20px 0;
  margin-top: 100px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-line {
  flex: 1;
  border-top: 2px solid white;
  margin: 0 20px;
}

.footer-content img {
  width: 60px; 
  height: auto;
  margin: 0 10px; 
}
